Sample n8n JSON/1.1 First Responder.json
{
  "name": "1.1 First Responder",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        96
      ],
      "id": "e7f59719-6c7e-4bc5-9482-0b585a0d334d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dLb32e73iouY9DvH",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id || $json.session_id || 'default_session' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        336,
        96
      ],
      "id": "219fa90e-e292-4dec-be30-ff38dbd98dd6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ZO0kfS5kIt2q1W2c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "ROLE: You are First Responder GPT \u2014 a specialized AI assistant for emergency responders dealing with Ford Mustang Mach-E 2026 incidents.\n\nPURPOSE: Answer questions from firefighters, paramedics, and first responders using the vehicle's Emergency Response Guide (ERG), Rescue Sheet, and 360\u00b0 training video transcript. You do NOT answer from your own knowledge \u2014 you ALWAYS delegate to the tools.\n\nAVAILABLE TOOLS & WHEN TO USE THEM:\n\n1. erg_full\n   \u2192 All procedural and narrative content: high-voltage system shutdown steps, HV battery fire and thermal runaway response, submersion/water rescue, vehicle stabilization and lifting points, no-cut zone descriptions, airbag/pyrotechnic device handling, first/second responder procedures.\n\n2. rescue_sheet\n   \u2192 Quick-reference diagram callouts: HV component locations, airbag positions, structural reinforcement zones, disconnection point labels, page-level part identification from the 4-page rescue sheet.\n\n3. video_transcript\n   \u2192 Instructor narration from the 360\u00b0 Ford Mach-E training video: verbal walkthroughs, demonstration commentary, step-by-step explanations as spoken during the vehicle walkthrough, anything referencing what was shown or said in the training video.\n\nROUTING RULES:\n- Procedural / how-to questions \u2192 use erg_full\n- Location / diagram / 'where is' questions \u2192 try rescue_sheet first, then erg_full\n- Questions about what the instructor said, training video content, or verbal demonstrations \u2192 use video_transcript FIRST; escalate to erg_full if transcript has insufficient detail\n- Safety-critical procedures \u2192 ALWAYS cross-check erg_full even if video_transcript answers\n- Ambiguous or multi-part questions \u2192 call all relevant tools and synthesize\n- NEVER answer without calling at least one tool\n\nOUTPUT RULES:\n- Safety-critical warnings go FIRST (HV hazards, no-cut zones, fire risks)\n- Number procedural steps; use bullets for lists of components or locations\n- Include page references when available: 'Source: ERG p.X' or 'Source: Rescue Sheet p.X'\n- For video transcript results, use the video_label metadata field for the citation. If video_label is not available, map source_doc as follows: combined_segments.json \u2192 'Training Session', VID_20250912_122900_00_010_012_segments.json \u2192 'Video 1 \u2014 Exterior Walk-Around', VID_20250912_134205_00_013_014_segments.json \u2192 'Video 2 \u2014 Interior / Underside'. Format: 'Source: [label] ~HH:MM:SS'\n- If no tool returns relevant results: 'No matching information found in the ERG, Rescue Sheet, or training video.'\n- NEVER include raw tool inputs, tool output JSON, intermediate steps, or '[Used tools: ...]' blocks in your response. Your reply must be the clean, synthesized final answer only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        368,
        -128
      ],
      "id": "c3e655bc-a5b8-45a3-8773-0a2a71bca6ee",
      "name": "Router Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a7782f7b-3403-48c3-9e6d-c14772a002a1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -128
      ],
      "id": "7bb988fd-0aec-446e-a14b-e02de53a85e7",
      "name": "Webhook",
      "webhookId": "a7782f7b-3403-48c3-9e6d-c14772a002a1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        -128
      ],
      "id": "fab5a5b5-7d51-44a1-b133-69c0ace299bf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer questions about Ford Mustang Mach-E 2026 emergency response procedures. Covers: high-voltage system shutdown (urgent and non-urgent), HV battery fire and thermal runaway response, submersion/water rescue, vehicle stabilization and lifting points, no-cut zones, airbag and pyrotechnic device locations, and all first/second responder step-by-step procedures from the 38-page Emergency Response Guide.",
        "pineconeIndex": {
          "__rl": true,
          "value": "ford-mache-erg",
          "mode": "list",
          "cachedResultName": "ford-mache-erg"
        },
        "options": {
          "pineconeNamespace": "erg_full"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        464,
        96
      ],
      "id": "4633ed41-d9ec-470b-9c1b-b37fca670520",
      "name": "erg_full",
      "credentials": {
        "pineconeApi": {
          "id": "phcrMIwaG0BbRZgY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer location and diagram questions about the Ford Mustang Mach-E 2026. Covers: high-voltage component positions, 12V battery location, airbag and gas generator positions, structural reinforcement zones, high-voltage disconnection points, seat belt tensioner locations, and all labeled callouts from the 4-page Rescue Sheet quick-reference card.",
        "pineconeIndex": {
          "__rl": true,
          "value": "ford-mache-erg",
          "mode": "list",
          "cachedResultName": "ford-mache-erg"
        },
        "options": {
          "pineconeNamespace": "rescue_sheet"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        752,
        96
      ],
      "id": "377cd2df-5366-4894-94a8-ae0b5e7d870a",
      "name": "rescue_sheet",
      "credentials": {
        "pineconeApi": {
          "id": "phcrMIwaG0BbRZgY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        304
      ],
      "id": "fe251730-9f87-49fc-a418-e052740b3c1d",
      "name": "Embeddings OpenAI 1",
      "credentials": {
        "openAiApi": {
          "id": "dLb32e73iouY9DvH",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        304
      ],
      "id": "2cf192bc-586d-4bf2-b015-130b655d95e1",
      "name": "Embeddings OpenAI 2",
      "credentials": {
        "openAiApi": {
          "id": "dLb32e73iouY9DvH",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer questions about what was said or demonstrated in the 360\u00b0 Ford Mustang Mach-E 2026 training video. Covers: instructor verbal walkthroughs, spoken step-by-step demonstrations, commentary during the exterior and interior vehicle walkthrough, explanations of emergency procedures as narrated during filming. Results include approximate video timestamps (HH:MM:SS).",
        "pineconeIndex": {
          "__rl": true,
          "value": "ford-mache-erg",
          "mode": "list",
          "cachedResultName": "ford-mache-erg"
        },
        "options": {
          "pineconeNamespace": "video_transcript"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1040,
        96
      ],
      "id": "c7a1f3e2-9b4d-4e8a-a123-d45f67890abc",
      "name": "video_transcript",
      "credentials": {
        "pineconeApi": {
          "id": "phcrMIwaG0BbRZgY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        304
      ],
      "id": "d8b2e4f1-0c5e-4f9b-b234-e56g78901bcd",
      "name": "Embeddings OpenAI 3",
      "credentials": {
        "openAiApi": {
          "id": "dLb32e73iouY9DvH",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Router Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "erg_full": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rescue_sheet": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI 1": {
      "ai_embedding": [
        [
          {
            "node": "erg_full",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI 2": {
      "ai_embedding": [
        [
          {
            "node": "rescue_sheet",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "video_transcript": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI 3": {
      "ai_embedding": [
        [
          {
            "node": "video_transcript",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "versionId": "412e9ab1-a585-4741-8eb8-56de27678632",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "S3uHJF57JAuA7bL0",
  "tags": []
}